@{
    List<Subject> subjects = ViewBag.subjects;
    List<Section> sections = ViewBag.sections;
    int page = ViewBag.page;
    int pageNumber = ViewBag.pageNumber;
    ViewBag.Title = "章节管理";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section sidebar {
    @Html.Partial("_sidebar")
}
<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-6">名称</div>
            <div class="col-md-4">学科</div>
            <div class="col-md-2">操作</div>
        </div>
    </li>
    @foreach (var sec in sections)
    {
        <li class="list-group-item" id="s_@sec.kid">
            <div class="row">
                <div class="col-md-6 section-name">@sec.section_name</div>
                <div class="col-md-4 subject">@subjects.Find(s => s.sid == sec.sid).subject_name</div>
                <span class="subject_id" style="display: none;">@sec.sid</span>
                <div class="col-md-2">
                    <button class="btn btn-sm btn-primary" onclick="edit_section(@sec.kid)"><span class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-sm btn-primary btn-danger" onclick="delete_section(@sec.kid)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </li>
    }
</ul>
<br />
<div class="es-pager">
    @if (page > 1)
    {
        <a class="btn btn-sm btn-primary es-pager-previous" href="/Manage/Section/@(page - 1)">上一页</a>
    }
    else
    {
        <a class="btn btn-sm btn-primary es-pager-previous disabled" href="#">上一页</a>
    }
    <div class="es-pager-num">第 @page 页</div>
    @if (page < pageNumber)
    {
        <a class="btn btn-sm btn-primary es-pager-next" href="/Manage/Section/@(page + 1)">下一页</a>
    }
    else
    {
        <a class="btn btn-sm btn-primary es-pager-next disabled" href="#">下一页</a>
    }
</div>
<div class="modal fade edit-section" role="dialog" tabindex="-1" aria-labelledby="editsection" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="editsubject">章节编辑</h4>
            </div>
            <div class="modal-body">
                <span id="kid" style="display:none"></span>
                <select class="form-control" id="subject">
                    @foreach (var subject in subjects)
                    {
                        <option value="@subject.sid">@subject.subject_name</option>
                    }
                </select>
                <input class="form-control" id="sectionname" type="text" />
                <button class="btn btn-sm btn-primary" onclick="save_change()">确定</button>
                <span class="es-warning" id="warning">保存失败</span>
            </div>
        </div>
    </div>
</div>
<script>
    function delete_section(id) {
        $.ajax({
            type: "POST",
            url: "/Manage/DeleteSection",
            data: "sid=" + id,
            success: function (data) {
                if (data === true) {
                    alert("删除成功");
                    $("#s_" + id).remove();
                } else {
                    alert("删除失败");
                }
            }
        });
    }

    function edit_section(id) {
        var text = $('#s_' + id + ' > .row > .section-name').text();
        var sid = $('#s_' + id + ' > .row > .subject_id').text();
        $('#sectionname').val(text);
        $('#kid').text(id);
        $("option[value=" + sid + "]").attr("selected", true);
        $('.edit-section').modal('show');
    }

    function save_change() {
        var id = $('#kid').text();
        var text = $('#sectionname').val();
        var subject = $('#subject').val();
        $.ajax({
            type: "POST",
            url: "/Manage/SaveSection",
            data: "kid=" + id + '&name=' + text + '&sid=' + subject,
            success: function (data) {
                if (data === true) {
                    $('.edit-section').modal('hide');
                    $('#s_' + id + ' > .row > .section-name').text(text);
                    $('#s_' + id + ' > .row > .subject').text($('#subject option:selected').text());
                    $('#s_' + id + ' > .row > .subject_id').text(subject);
                } else {
                    $('#warning').fadeIn();
                }
            }
        });
    }
</script>